/* fix for github rss stupidity */
    pre {width: auto!important}

/* fix for content starting with line break */
    .content > br:nth-child(1){display: none}

body {
 /*background: none repeat scroll 0% 0% white; */
 font-size: 100%!important;
}
#feed-content{
 padding: 0!important;
}
figure{width: auto!important; margin: 33px auto!important;}
*{ font-family: caption!important; border: 0 !important;}
.content, .headline-title, .title-link{ font-size:18px!important;
 font-weight: normal !important; color: black !important; white-space: normal;
}
.title-link{
 font-size:22px!important;
 margin-left: 7px;
 padding-left: 10px;
}
.subheader, .day-header{ font-size: 12px;
}
article.read .headline-title, article.read .title-link, .subheader, .day-header{ color: lightgray!important
}

.header>.controls{padding-right: 5px}

.content {
 max-width:700px !important;
 width: -moz-available;
 -moz-hyphens: auto !important;
 font-size:18px;
 padding: 0px 17px 17px !important;
}
.headline-title{
 overflow:visible !important;
 font-family: Segoe UI;
 font-size:18px;
 height:auto !important;
 padding:10px;
}
.headline-header, .headline-container {height:auto !important;
}
.headline-container, .full-container-inner{
 width: 720px !important;
 max-width: 100%;
}
.header {
 max-width: 720px;
 width: 100%;
 margin: 0 !important;
 padding: 0 !important;
}
.subheader{ width: 95%; margin: 10px 0 !important;
}
img{ width:auto!important; max-width:100% !important; height:auto !important; margin:0!important;
}
img[align="left"] {
 margin-right: 30px!important;
 margin-top: 5px!important;
 margin-bottom: 5px!important;
}
article{
 margin: 0 !important;
 border: 0 !important;
}
/*article.collapsed > .headline-container {margin-top: 10px !important;
}*/
.full-container{
 margin: 5px 0 !important;
 flex: 0 1 720px !important;
 width: 720px !important;
 max-width: 100%;
}
article.selected {
 background-color: white !important;
}
article.selected > .full-container{
 margin:5px 0!important;
 border-width: 0px!important;
 border-color: white!important;
 /*box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);*/
}
article.selected > .full-container > .full-container-inner, .full-container-inner{
 border: 0 !important;
 background: none !important;
 padding: 0 !important;
}
article.headline > .full-container{
 margin-left: 0px!important;
}
.full-container-inner{
 margin-top:-5px;
 width: 750px !important;
 align-items: center;
}
article.selected .headline-header {
 border: 0 !important;
 /*background-color: rgba(135,206,250, .25) !important;*/
 background-color: transparent !important;
}
.headline-header, .full-container{
 outline-bottom: 1px solid lightgray!important;
}

.headline-link {
 margin-top: 0;
 background: none;
 color: lightgrey;
 text-decoration: none;
 text-align: center;
}
.headline-link:hover{
 color: black; background: lightgrey;
}
.headline-link:before{
 content:"\E26B";
 font: 18px "Segoe UI Symbol"!important;
}

.collapse-button:hover {
 background-color: lightgrey !important;
 transition: background-color 1s;
}
.collapse-button {
 background: none repeat scroll 0% 0% transparent !important;
 text-align: center;
 cursor: default;
 height: 16px!important;
 margin-top: -7px;
 z-index: 99;
}
.collapse-button:before {
 content: "• • •";
 /*font-size: 22px;*/
 color: lightgrey
}

.button-spacer, .spacer {
 display: none;
}
.button{
 border: 0 !important;
 border-radius: 0 !important;
 text-align: center;
 line-height: 30px;
 font-size: 14px;
}
.bookmark-button{
 color: lightgrey;
 width: 30px;
 height: 30px;
 background: none;
 cursor: default;
}
.bookmark-button:hover{
 color: #ffd700;
}
.bookmark-button:before{
 content:"\E082";
 font: 22px "Segoe UI Symbol"!important;
}
article.starred .bookmark-button{
 color: #ffd700;
}
article.starred .bookmark-button:hover{
 color: lightgrey;
}

.mark-read-button, .delete-button{
 background-image: none!important;
 cursor: default;
 height: 30px;
 -moz-box-align: center;
 -moz-box-pack: center;
}
.mark-read-button{
 color: green;
}
.mark-read-button:before{
 content:"\E10B";
 font-family:"Segoe UI Symbol"!important;
}
.mark-read-button:hover{
 background: #d0ffc0;
}
.delete-button{
 color: red; border-left: 0!important;
}
.delete-button:before{
 content:"\E107";
 font-family:"Segoe UI Symbol"!important;
}
.delete-button:hover{
 background: #ffd0d0;
}

#update-progress {
 /*margin: 12px 15px 12px 13px !important;*/
}
#update-progress::-moz-progress-bar {
 background: green !important;
}

#sidebar-top{
 height: 48px!important;
 max-height: 44px!important;
 min-height: 44px!important;
}
.sidebar-button-box{
 min-width: auto !important;
 overflow: visible;
}
#sidebar-toolbar *{
 /*max-height: 24px!important;*/
}
.sidebar-button{
 list-style-image: none;
 margin: 0 5px !important;
 opacity: .3;
}
.sidebar-button:hover{
 opacity: 1;
}
#update-button, #stop-updating-button{
 -moz-box-pack: center;
 -moz-image-region: auto !important;
 overflow: hidden;
 width: 32px;
 max-height: 32px !important;
}
#update-button:before{
 content:"\E117";
 font: 11px "Segoe UI Symbol"!important;
}
#update-button:hover{
 color: green !important;
}
#stop-updating-button:before{
 content:"\E10A";
 font: 17px "Segoe UI Symbol"!important;
}
#stop-updating-button:hover{
 color: red;
}
#options-button{
 -moz-image-region: auto!important;
}
#options-button:before{
 content:"\E115";
 font: 17px/1.8 "Segoe UI Symbol"!important;
}

.unread-count {
 border: 0 !important;
 background-color: inherit !important;
 color: black !important;
 text-align: right !important;
 padding-right: 5px !important;
}

.view-icon{ display: none;}
#view-list > richlistitem{
 cursor: default;
 color: black !important;
 border-radius: 0px;
 /*-moz-box-align: center !important;*/
 /*padding: 0 0 0 5px !important;*/
 display: flex;
 /*height: 22px !important*/
}
#view-list > richlistitem > .view-title{
 flex: auto;
}
#all-items-folder:before{
 content:"\E154";
 font: 11px/18px "Segoe UI Symbol"!important;
}
#today-folder:before{
 content:"\E121";
 font: 11px/18px "Segoe UI Symbol"!important;
}
#starred-folder:before{
 content:"\E082 ";
 font: 11px/18px "Segoe UI Symbol"!important;
}
#trash-folder:before{
 content:"\E107";
 font: 11px/18px "Segoe UI Symbol"!important;
}

/*#feed-view-header > *{
 background: transparent!important;
}*/
#feed-view-header{
 padding: 0px 10px !important;
 background: rgb(248, 248, 248) !important;
 border-bottom: 0 !important;
 opacity: .3;
}
#feed-view-header:hover{ opacity: 1; background: rgb(252, 252, 252)  !important}

/*#mark-view-read {
 list-style-image: none;
 cursor: default;
 padding: 1px 5px !important;
 -moz-image-region: auto!important;
}
#mark-view-read:before{
 height: 38px!important;
 width: 38px!important;
 color: green;
 content:"\E001";
 font: 22px "Segoe UI Symbol"!important;
}
#mark-view-read:hover:before{
 color: red;
}
#mark-view-read:hover{
 background: #ffd0d0!important;
 -moz-image-region: auto!important;
}

#mark-view-read:hover:active {
 background-color: red!important;
 -moz-image-region: auto!important;
}*/

tree-item.selected, tree-folder.selected > tree-folder-header {
 border: 1px solid #5899DA !important;
 background-color: #D1E8FF !important;
}
