@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */
/* position buttons so Next is before Previous */
.findbar-container>hbox>.findbar-find-previous {-moz-box-ordinal-group:2!important;-moz-border-end-width:1px!important;}
.findbar-container>hbox>.findbar-find-next {border-width:1px!important;}
/* more possible tweaks */
/* Quick find - show buttons */
.findbar-container>*,.findbar-container>hbox>* { display:-moz-box; }

/* move spacer to a position behind the Match case button */
.findbar-container>spacer { -moz-box-ordinal-group:2 !important; }

/* adjust the width of the text field */
.findbar-textbox { width:15em !important; }

.findbar-case-sensitive[checked]+label { display:none !important; } /* hide "(Case sensitive)" label */
findbar {padding: 0 2px !important;}

/* move menu popup by 1px */
#appmenu-popup{ margin-top: 0px !important;}

#main-window[sizemode="normal"] #navigator-toolbox{
 margin-top:-7px!important;
}
#main-window[sizemode="maximized"] #navigator-toolbox,
#main-window[sizemode="fullscreen"] #navigator-toolbox{
 margin-top:-1px!important;
}
#main-window[sizemode="normal"] #toolbar-menubar{
 margin-top: 7px!important;
 margin-bottom: -7px;
}



/**
 * @Author: Heartripper
 */
/*Tabs*/
#TabsToolbar {
 background: transparent !important;
 margin-bottom: 0 !important;
}
#TabsToolbar .arrowscrollbox-scrollbox {
 padding: 0  !important;
}
#TabsToolbar .tabbrowser-tabs{
 min-height: 26px !important;
}
#TabsToolbar .tabs-newtab-button,
#TabsToolbar .tabbrowser-tab{
 -moz-border-top-colors: none !important;
 -moz-border-left-colors: none !important;
 -moz-border-right-colors: none !important;
 border-style: solid !important;
 border-color: rgba(0,0,0,0.2);
 border-width: 1px 0 0 1px !important;
 text-shadow: 0 0 4px rgba(255,255,255,.75) !important;
 padding: 4px 2px !important;
 background: rgba(255,255,255,.27);
 background-clip: padding-box !important;
 transition: all .1s;
}
#TabsToolbar .tabbrowser-tab[first-tab][last-tab],
#TabsToolbar .tabbrowser-tab[last-visible-tab]{
 border-right-width: 1px !important;
}
#TabsToolbar .tabbrowser-tab[afterselected]{
   border-left-color: rgba(0,0,0,.25) !important;
}
#TabsToolbar .tabbrowser-tab[selected]{
 background: #f8f8f8 !important;
 background-clip: padding-box !important;
 border-color: rgba(0,0,0,.25) !important;
 color: rgb(43,87,154) !important;
}
#TabsToolbar .tabs-newtab-button:hover,
#TabsToolbar .tabbrowser-tab:hover:not([selected]){
 background-color: rgba(255,255,255,.55) !important;
}
#TabsToolbar .tab-background{
 margin: 0 !important;
 background: transparent !important;
}
#TabsToolbar .tab-background-start,
#TabsToolbar .tab-background-end{
 display: none !important;
}
#TabsToolbar .tab-background-middle{
 margin: -4px -2px !important;
 background: transparent !important;
}
#TabsToolbar .tabbrowser-tab:after,
#TabsToolbar .tabbrowser-tab:before{
 display: none !important;
}
#TabsToolbar .tabs-newtab-button{
 border-width: 1px 1px 0 0 !important;
 margin: 0 !important;
 width: auto !important;
 padding: 0 5px !important;
}
.tabbrowser-tab[pending] {
 background-color:#ece9d8 !important;
}

/*Toolbar*/
#addon-bar,
#PersonalToolbar,
#nav-bar{
 background: #f8f8f8 !important;
 background-clip: padding-box !important;
 border-color: rgba(0,0,0,.25) !important;
 border-radius: 0 !important;
}
#nav-bar{
 padding-right: 3px;
}
#main-window #navigator-toolbox:after {
 border-radius: 0 !important;
 height: 1px !important;
 background: #cccccc !important;
}
#customizableui-special-separator2{
 display: none !important;
}
#nav-bar-customization-target{
 margin-right: 3px !important;
 padding-right: 3px !important;
}
#new-userstyle, #install-from-url{ min-width:30px;}
richlistitem hbox, richlistitem label { min-width: 30px;}

#userstyle-sorting{min-width: 30px}

.offlineapp .listcell-label {min-width: 70px}