@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */
/* position buttons so Next is before Previous */
.findbar-container>hbox>.findbar-find-previous {-moz-box-ordinal-group:2!important;-moz-border-end-width:1px!important;}
.findbar-container>hbox>.findbar-find-next {border-width:1px!important;}
/* more possible tweaks */
/* Quick find - show buttons */
.findbar-container>*,.findbar-container>hbox>* { display:-moz-box; }

/* move spacer to a position behind the Match case button */
.findbar-container>spacer { -moz-box-ordinal-group:2 !important; }

/* adjust the width of the text field */
.findbar-textbox { width:15em !important; }

.findbar-case-sensitive[checked]+label { display:none !important; } /* hide "(Case sensitive)" label */
findbar {padding: 0 2px !important;}

/* move menu popup by 1px */
#appmenu-popup {
    margin-top: 0px !important;
}

#main-window #navigator-toolbox  {
 margin-top:-7px!important;
}
#main-window #toolbar-menubar  {
 margin-top:7px!important;
 margin-bottom: -7px;
}