.content {
max-width:700px !important;
-moz-hyphens: auto !important;
font-family: Segoe UI;
font-size:18px;
color:black!important;
}
.headline-title{
overflow:visible !important;
display:block !important;
font-family: Segoe UI;
font-size:18px;
font-weight: normal !important;
color: black !important;
}
.headline-header {
padding:0px;
}
article.read .headline-title{
color: #8C868F !important;
}
img{
max-width:95% !important;
height:auto !important;
}